In [2]:
import requests

In [3]:
# 동이름 -> 위도 경도
addr='아현동'
url = 'https://apis.zigbang.com/search?q={}'.format(addr)
response = requests.get(url)
datas = response.json()["items"][0]
datas

{'id': 4013,
 'type': 'address',
 'name': '아현동',
 'hint': '',
 'description': '서울시 마포구 아현동',
 'lat': 37.55445861816406,
 'lng': 126.95697021484375,
 'zoom': 5,
 'polygon': [],
 '_score': None,
 '_source': {'name_length': 3,
  'local1': '서울시',
  'local2': '마포구',
  'local3': '아현동',
  'web_level': 15,
  'web_lat': 37.55445861816406,
  'web_lng': 126.95697021484375,
  'app_level': 15,
  'app_lat': 37.55445861816406,
  'app_lng': 126.95697021484375,
  '법정동코드': '1144010100'},
 'zoom_level': {'google': 15, 'daum': 4},
 'zoom_level_v2': {'app': 5, 'web': 4}}

In [4]:
lat,lng =datas["lat"],datas["lng"]
lat,lng

(37.55445861816406, 126.95697021484375)

In [5]:
#위도, 경도 -> geohash

In [6]:
import geohash2
geohash= geohash2.encode(lat,lng, 5)
lat, lng, geohash

(37.55445861816406, 126.95697021484375, 'wydm8')

In [7]:
#geohash -> ids
url='https://apis.zigbang.com/property/apartments/items?domain=zigbang&geohash={}&q=type=sales|price=0~-1|floorArea=0~-1'.format(geohash)
response=requests.get(url)
datas =  response.json()["items"]
ids= [data["itemId"] for data in datas]
len(datas), ids[:3]

(1569, [18831263, 18833465, 18833493])

In [8]:
datas[0]

{'itemId': 18831263,
 'lat': 37.54692410332956,
 'lng': 126.924363546218,
 'created_at': '2019-11-09 11:04:53'}

In [9]:
# 주소에 str로 들어가야하기 때문에(request할 헤더에)
ids_str = str(ids[:200]).replace(" ","")

In [12]:
# ids->items
url = "https://apis.zigbang.com/property/apartments/items?\vritemIds={ids}&itemIds={ids}&citemIds={ids}".format(ids=ids_str)
response = requests.get(url)
datas= response.json()['items']
datas[:1]

[{'itemId': 18831263,
  'type': '매매',
  'exclusive_type': '1',
  'rent': 0,
  'buildingFloor': '25',
  'itemImages': None,
  'house_key': None,
  'lat': 37.54692410332956,
  'lng': 126.924363546218,
  'vr_status': None,
  'vr_request_id': None,
  'itemTitle': '거실확장 화장실, 바닥, 수납공간수리 주인거주',
  'agentNo': 48819,
  'regDate': '2019-11-09',
  'regTime': '2019-11-09T08:17:17.000Z',
  'apartmentId': 9059,
  'apartmentName': '상수두산위브',
  'buildingName': '102동',
  'roomTypeId': 11615,
  'grossAreaName': {'m2': 104, 'p': 31},
  'grossArea': {'m2': 104, 'p': 31},
  'agreementArea': {'m2': 0, 'p': 0},
  'netArea': {'m2': 84, 'p': 25},
  'floorPlan': 'https://ic.zigbang.com/ic/floorplan/9059/11615/a8a9c926d5124180b7ce3f4e52b6da56.png',
  'userNo': 5257440,
  'agentId': 5257440,
  'agentName': '래미안부동산공인중개사사무소',
  'agentTel': '01087675775',
  'agentUserName': '임소기',
  'agentPhone': '01045825924',
  'created_at': '2019-11-09 11:04:53',
  'real_type': '아파트',
  'itemImage': ['https://ic.zigbang.com/ic/floorplan/9059/11615/a8a9c926d5124180b7ce3f4e52b6da56.png'],
  'sectionType': 'premium_recommend',
  'viewType': 1,
  'groupedItemFloor': '고층',
  'agreementAreaName': {'m2': 104, 'p': 31},
  'isNew': True,
  'sales': 103000}]

In [13]:
item_df= pd.DataFrame(datas)
item_df. tail()

,agentId,agentName,agentNo,agentPhone,agentTel,agentUserName,agreementArea,agreementAreaName,apartmentId,apartmentName,...,regTime,rent,roomTypeId,sales,sectionType,type,userNo,viewType,vr_request_id,vr_status
195,2622344,e편한중앙공인중개사,NaN,01066770024,02-6732-4989,김수연,"{'m2': 0, 'p': 0}","{'m2': 109, 'p': 32}",2952,대흥태영,...,2019-11-09T00:59:48.000Z,0,6351,107000,premium_recommend,매매,2622344,1,None,None
196,2622344,e편한중앙공인중개사,NaN,01066770024,02-6732-4989,김수연,"{'m2': 0, 'p': 0}","{'m2': 83, 'p': 25}",2952,대흥태영,...,2019-11-09T00:59:48.000Z,0,6353,78000,premium_recommend,매매,2622344,1,None,None
197,2622344,e편한중앙공인중개사,NaN,01066770024,02-6732-4989,김수연,"{'m2': 0, 'p': 0}","{'m2': 83, 'p': 25}",2952,대흥태영,...,2019-11-09T00:59:48.000Z,0,6353,84000,premium_recommend,매매,2622344,1,None,None
198,2622344,e편한중앙공인중개사,NaN,01066770024,02-6732-4989,김수연,"{'m2': 0, 'p': 0}","{'m2': 109, 'p': 32}",2952,대흥태영,...,2019-11-09T00:59:48.000Z,0,6351,102000,premium_recommend,매매,2622344,1,None,None
199,2622344,e편한중앙공인중개사,NaN,01066770024,02-6732-4989,김수연,"{'m2': 0, 'p': 0}","{'m2': 109, 'p': 32}",2952,대흥태영,...,2019-11-09T00:59:48.000Z,0,6351,115000,premium_recommend,매매,2622344,1,None,None

In [23]:
#pandas option 설정
pd.options.display.max_columns = len(item_df.columns)

In [24]:
item_df.tail(2)

,agentId,agentName,agentNo,agentPhone,agentTel,agentUserName,agreementArea,agreementAreaName,apartmentId,apartmentName,buildingFloor,buildingName,created_at,exclusive_type,floorPlan,grossArea,grossAreaName,groupedItemFloor,house_key,isNew,itemId,itemImage,itemImages,itemTitle,lat,lng,netArea,real_type,regDate,regTime,rent,roomTypeId,sales,sectionType,type,userNo,viewType,vr_request_id,vr_status
198,2622344,e편한중앙공인중개사,NaN,01066770024,02-6732-4989,김수연,"{'m2': 0, 'p': 0}","{'m2': 109, 'p': 32}",2952,대흥태영,18,114동,2019-11-01 16:39:41,1,https://ic.zigbang.com/ic/floorplan/2952/6351/...,"{'m2': 109, 'p': 32}","{'m2': 109, 'p': 32}",저층,None,True,18711803,[https://ic.zigbang.com/ic/floorplan/2952/6351...,None,"내부 깔금, 염리초 배정",37.544732,126.94257,"{'m2': 84, 'p': 25}",아파트,2019-11-09,2019-11-09T00:59:48.000Z,0,6351,102000,premium_recommend,매매,2622344,1,None,None
199,2622344,e편한중앙공인중개사,NaN,01066770024,02-6732-4989,김수연,"{'m2': 0, 'p': 0}","{'m2': 109, 'p': 32}",2952,대흥태영,18,114동,2019-11-01 16:42:16,1,https://ic.zigbang.com/ic/floorplan/2952/6351/...,"{'m2': 109, 'p': 32}","{'m2': 109, 'p': 32}",고층,None,True,18711875,[https://ic.zigbang.com/ic/floorplan/2952/6351...,None,"염리초, 인기 아파트, 대중교통 편리",37.544732,126.94257,"{'m2': 84, 'p': 25}",아파트,2019-11-09,2019-11-09T00:59:48.000Z,0,6351,115000,premium_recommend,매매,2622344,1,None,None

In [25]:
columns= ["itemId","buildingFloor","groupedItemFloor","grossArea","lat","lng","sales","itemTitle"]
item_df=item_df[columns]
item_df.tail(2)

,itemId,buildingFloor,groupedItemFloor,grossArea,lat,lng,sales,itemTitle
198,18711803,18,저층,"{'m2': 109, 'p': 32}",37.544732,126.94257,102000,"내부 깔금, 염리초 배정"
199,18711875,18,고층,"{'m2': 109, 'p': 32}",37.544732,126.94257,115000,"염리초, 인기 아파트, 대중교통 편리"

In [26]:
item_df["m2"]= item_df["grossArea"].apply(lambda data:data["m2"])
item_df["p"]= item_df["grossArea"].apply(lambda data:data["p"])
item_df.drop(columns = ["grossArea"], inplace=True)

In [27]:
item_df.tail(3)

,itemId,buildingFloor,groupedItemFloor,lat,lng,sales,itemTitle,m2,p
197,18711754,22,고층,37.544732,126.94257,84000,내부 수리상태 양호 깨끗해요,83,25
198,18711803,18,저층,37.544732,126.94257,102000,"내부 깔금, 염리초 배정",109,32
199,18711875,18,고층,37.544732,126.94257,115000,"염리초, 인기 아파트, 대중교통 편리",109,32

####  함수로 만들기

In [28]:
def crawling_apt(addr):
    #동이름 -> 위도, 경도
    url = "https://apis.zigbang.com/search?q={}".format(addr)
    response = requests.get(url)
    datas = response.json()["items"][0]
    lat,lng =datas["lat"],datas["lng"]
    
    #위도 경도-> geohash
    geohash= geohash2.encode(lat,lng,precision=5)
    #geohash -> ids
    url = "https://apis.zigbang.com/property/apartments/items?\
domain=zigbang&geohash={}\
&q=type=sales%7Cprice=0~-1%7CfloorArea=0~-1".format(geohash)
    response = requests.get(url)
    datas = response.json()["items"]
    ids = [data["itemId"] for data in datas]
    
    #ids -> items : 200개씩
    dfs=[]
    for idx in range(0,len(ids),200):
        start, end = idx, idx+200
        ids_str = str(ids[start:end]).replace(" ","")
        url = "https://apis.zigbang.com/property/apartments/items?\
        vritemIds={ids}&itemIds={ids}&citemIds={ids}".format(ids=ids_str)
        response = requests.get(url)
        datas = response.json()["items"]
        item_df = pd.DataFrame(datas)
        columns = [ "itemId", "buildingFloor", "groupedItemFloor", "grossArea", "lat", "lng", "sales", "itemTitle" ]
        item_df = item_df[columns]
        item_df["m2"] = item_df["grossArea"].apply(lambda data: data["m2"])
        item_df["p"] = item_df["grossArea"].apply(lambda data: data["p"])
        item_df.drop(columns=["grossArea"], inplace=True)
        dfs.append(item_df)
    result_df = pd.concat(dfs)
    result_df.reset_index(drop=True, inplace=True)
    return result_df

In [29]:
crawling_apt("성수동").tail()

,itemId,buildingFloor,groupedItemFloor,lat,lng,sales,itemTitle,m2,p
2381,17393716,15,고층,37.546677,127.026643,145000,응봉산조망 올확장 시스템에어컨 세안고매매,111,33
2382,18425015,25,저층,37.568861,127.027945,123000,"올확장되어있으며, 상왕십리역과 가가운 동입니다.",107,32
2383,18425104,25,고층,37.568861,127.027945,123000,단지내 정원뷰입니다. 에어컨있습니다,107,32
2384,18414690,21,중층,37.568878,127.031898,85000,집상태 깨끗한 물건,107,32
2385,18408870,25,중층,37.570465,127.024673,118000,시세보다 저렴한 가격으로 투자하기 좋아요 현재 전세거주중,107,32

In [31]:
# 도곡동에서 30층 이상되는 아파트의 고층 매물을 찾아서 구매

In [32]:
items_df= crawling_apt("도곡동")
items_df.tail()

,itemId,buildingFloor,groupedItemFloor,lat,lng,sales,itemTitle,m2,p
689,18013640,None,None,37.491580,127.029970,91000,강남역 신축 아파트 전세 6억2천,103,31
690,18013665,None,None,37.493337,127.026873,210000,강남역 신축 아파트 저층,111,33
691,18013793,None,None,37.493337,127.026873,250000,강남역 신축 아파트,144,43
692,18464087,30,저층,37.493337,127.026873,215000,전세 안고 매매 가능 매물,111,33
693,18385710,15,None,37.492310,127.035778,170000,**실입주가능 **입주정상 **로얄층,183,55

In [33]:
items_df.dtypes

itemId                int64
buildingFloor        object
groupedItemFloor     object
lat                 float64
lng                 float64
sales                 int64
itemTitle            object
m2                    int64
p                     int64
dtype: object

In [34]:
# items_df[items_df["buildingFloor"]]>=30 할 수 없음.(빈칸도 있고, int가 아니여서 연산불가)

items_df = items_df[items_df["buildingFloor"].notnull()]
items_df.reset_index(drop=True, inplace=True)
items_df.tail(2)

,itemId,buildingFloor,groupedItemFloor,lat,lng,sales,itemTitle,m2,p
678,18464087,30,저층,37.493337,127.026873,215000,전세 안고 매매 가능 매물,111,33
679,18385710,15,None,37.492310,127.035778,170000,**실입주가능 **입주정상 **로얄층,183,55

In [35]:
items_df["buildingFloor"] = items_df["buildingFloor"].astype("int")

In [36]:
result_df= items_df[
    (items_df["buildingFloor"]>=30) &
    (items_df["groupedItemFloor"] == "고층")
]
len(result_df)

95

In [37]:

np.average(result_df["sales"])

230505.26315789475

In [39]:
%%writefile zigbang.py
import pandas as pd
import requests
import geohash2

def crawling_apt(addr):
    #동이름 -> 위도, 경도
    url = "https://apis.zigbang.com/search?q={}".format(addr)
    response = requests.get(url)
    datas = response.json()["items"][0]
    lat,lng =datas["lat"],datas["lng"]
    
    #위도 경도-> geohash
    geohash= geohash2.encode(lat,lng,precision=5)
    #geohash -> ids
    url = "https://apis.zigbang.com/property/apartments/items?\
domain=zigbang&geohash={}\
&q=type=sales%7Cprice=0~-1%7CfloorArea=0~-1".format(geohash)
    response = requests.get(url)
    datas = response.json()["items"]
    ids = [data["itemId"] for data in datas]
    
    #ids -> items : 200개씩
    dfs=[]
    for idx in range(0,len(ids),200):
        start, end = idx, idx+200
        ids_str = str(ids[start:end]).replace(" ","")
        url = "https://apis.zigbang.com/property/apartments/items?\
        vritemIds={ids}&itemIds={ids}&citemIds={ids}".format(ids=ids_str)
        response = requests.get(url)
        datas = response.json()["items"]
        item_df = pd.DataFrame(datas)
        columns = [ "itemId", "buildingFloor", "groupedItemFloor", "grossArea", "lat", "lng", "sales", "itemTitle" ]
        item_df = item_df[columns]
        item_df["m2"] = item_df["grossArea"].apply(lambda data: data["m2"])
        item_df["p"] = item_df["grossArea"].apply(lambda data: data["p"])
        item_df.drop(columns=["grossArea"], inplace=True)
        dfs.append(item_df)
    result_df = pd.concat(dfs)
    result_df.reset_index(drop=True, inplace=True)
    return result_df

Overwriting zigbang.py